# Ignorar checkpoints de notebooks Jupyter
.ipynb_checkpoints/

# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]

# Ignorar arquivos de dados
*.csv
*.tsv
*.xls
*.xlsx

# Ignorar arquivos temporários de sistemas
.DS_Store
Thumbs.db

# Ignorar ambientes virtuais
.env/
.venv/
env/
venv/

# Outros arquivos que você não quer subir
*.log
# Forçando detecção pelo Git
# Arquivo ajustado para envio ao GitHub